[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
social-auth-app-django = "*"
python-dotenv = "*"
django-machina = "*"
django-crispy-forms = "*"
markdown2 = "==2.4.0"
django-storages = {extras = ["azure"], version = "*"}
psycopg2 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
